.one{
margin-left:50px;
}
.two{
margin-left:50px;
border-style:solid;
background-color:antiquewhite;
width:550px;
height:85px;
padding-top:10px;
}
.three{
border: 1px solid black;
margin-left:50px;
background-color:lightgrey;
width:550px;
height:550px;
margin-top:50px;
padding-left:10px;}
